div[class*="sidebarList"]{
  max-width: 0px !important;
  overflow: hidden;

  min-width: 0px !important;

  transition: max-width 0.35s ease-in-out !important;
}

div[class*="sidebar"]:hover div[class*="sidebarList"]{
  max-width: 200px !important;
}

:root:has(div[class*="clickTrapContainer"]:hover) div[class*="sidebarList"]{
  max-width: 200px !important;
}
