
div[class*="sidebarList"] {
  width: 0px !important;
  max-width: 0px !important;
  min-width: 0px !important;
  flex-basis: 0px !important;

  overflow: hidden;
  transition: width 0.35s ease-in-out,
              max-width 0.35s ease-in-out,
              flex-basis 0.35s ease-in-out;
}

div[class*="sidebar"]:hover div[class*="sidebarList"] {
  width: 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  flex-basis: 200px !important;
}

:root:has(div[class*="clickTrapContainer"]:hover) div[class*="sidebarList"] {
  width: 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  flex-basis: 200px !important;
}
